*.swp
_data
hl-csa-raptor.o
tags

Runnables/BuildBucketCH
Runnables/BuildCoreCH
Runnables/ComputeShortcuts
Runnables/RunCSAQueries
Runnables/RunRAPTORQueries

Investigations/_build*
_build

libs/

DATA
WORKDIR*
